html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'lc_chalkregular';
  src: url("../fonts/lcchalk_-webfont.eot");
  src: url("../fonts/lcchalk_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lcchalk_-webfont.woff2") format("woff2"), url("../fonts/lcchalk_-webfont.woff") format("woff"), url("../fonts/lcchalk_-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.lc_chalk {
  font-family: 'lc_chalkregular'; }

body {
  background: #282828 url(../img/bg-body.jpg) left top repeat;
  font-family: 'Pangolin', cursive;
  font-size: 18px;
  color: #e8f6ff;
  line-height: 1.6; }

header {
  padding-top: 20px; }
  header .header-contact {
    color: white;
    font-size: 0.77778em;
    line-height: 1.2; }
