$base-font-size: 18;
$base-font: $base-font-size + px;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) + em;
};


body {
	background: #282828 url(../img/bg-body.jpg) left top repeat;
	font-family: 'Pangolin', cursive;
	font-size: $base-font;
	color: #e8f6ff;
	line-height: 1.6;
} 