$base-font-size: 18;
$base-font: $base-font-size + px;

$special-color: #e8f6ff;
$base-color: white;

@function rem($px, $base: $base-font-size) {
    @return ($px / $base) + rem;
};
 html, body { height: 100%; margin: 0; padding: 0; }

body {
	background: #282828 url(../img/bg-body.jpg) left top repeat;
	font-family: 'Pangolin', cursive;
	font-size: $base-font;
	color: $base-color;
	line-height: 1.6;
	text-align: center;
}

a {
	color: $special-color;
}

h1, h2, h3 {
	font-family: 'lc_chalkregular';
	color: white;
}

h1 {
	font-size: rem(34);
	line-height: 1;
}

h2 {
	font-size: rem(30);
}

h3 {
	font-size: rem(26)
}


.nav {
	position: relative;
	font-family: 'lc_chalkregular';
	li {
	text-align: center;
		a:hover {
			text-decoration: none;
			border-bottom: 2px solid $special-color;
			color: white;
			font-weight: bold;
		}
	}
}

.block-box {
	margin: rem(100) 0 rem(75);
	h2 {	
		padding-top: rem(75);	
		margin-bottom: rem(100);
		display: block;
		position: relative;
		.left-icon, .right-icon {
			display: block;
			position: absolute;
			top: rem(53);
		}
		.left-icon {
			left: rem(30);
		}
		.right-icon {
			right: rem(30);
		}
	}
	h3 {
		margin-bottom: rem(60);
	}
}

hr {
	display: inline-block;
	background-color: white;
	width: rem(37);
	height: rem(2);
	margin: rem(-10) 0 0;
	vertical-align: middle;
}

.left-head-line {
	margin-right: rem(15);
}
.right-head-line {
	margin-left: rem(15);
}
body {
	.dropdown {
		.dropdown-menu {
			background-color: rgba(0,0,0,0.8);
			li {
				text-align: center;
				width: 100%;
				padding: 5px !important;
				span {
					font-size: rem(22);
					font-weight: bold;
					padding-bottom: rem(10);
				}
				a {
					color: white;
					font-size: rem(18);
					color: $special-color;
				}
				&:hover {
					a {
						color: black;
					}
				}
			}
			li.menu-type {
				border-bottom: 2px solid white;
			}
		}
	}
}
