header {
	padding-top: rem(20);
	.navbar-fixed-top .navbar-collapse {
		max-height: auto;
	}
	.header-contact {
		color: $base-color;
		font-size: rem(14);
		line-height: 1.2;
		margin-bottom: rem(20);
		padding-top: rem(30);
	}
	.navbar-brand {
		float: left;
	    padding: 10px 30px;
	    font-size: 18px;
	    line-height: 20px;
	    height: 100px;
	    overflow: hidden;
	    img {
	    	width: 180px
	    }
	}
	.navbar-nav {
		float: none;
		.open {
			.dropdown-menu {
				background-color: rgba(0,0,0,1);
				li {
					a {
						color: $special-color;
						&:hover, &:focus {
							background: transparent;
						}
					}
				}
			}
		}
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		background: transparent;
		&:focus {
			color: white;
		}
	}
	.navbar-default .navbar-nav li {
		a:focus, a:active, a:visited {
			color: white;
		}
	}
	.navbar-default {
		background-color: rgba(0,0,0,0.4);
		border: none;
		.navbar-toggle {
			margin-top: 33px;
			border: none;
			&:hover, &:focus {
				background-color: transparent;
			}
			&:hover {
				span {
					height: 3px;
				}
			}
			.icon-bar {
				background-color: #fff;
				width: 35px;
				& + .icon-bar {
					margin-top: 6px;
				}
			}
		}
		.navbar-collapse {
			max-height: 100% !important;
			height: auto;
			&.in {
				overflow: hidden;
			}
		}
		& .navbar-nav {
			li {
				a {
					color: $special-color;
					&:hover {
						color: white;
						border: none;
						font-weight: bold;
					}
				}
			}
		}
		li.logo-box {
			text-align: justify;
			position: relative;
			img {
				position: absolute;
				bottom: 0;
				width: 85%;
			}
		}
	}
} 

.home-box {
	h1 {
		padding: rem(150) 0 rem(35);
		display: block;
	}

	.home-image {
		img {
			width: 75%;
		}
	}
}