
@import "reset";
@import "fonts";
@import "global";
@import "header";
@import "slider";
@import "footer";
@import "media";


////////////////Menu-Modal\\\\\\\\\\\

.modal {
	.modal-dialog {
		margin: 20px auto;
		.modal-content {
			border: none;
			background: transparent;
			.modal-body {
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
	}
}

//////////// About Block \\\\\\\\\\\\\\\\\

.about-box {
	
}


//////////// Actions Block \\\\\\\\\\\\\\\\\

.actions-box {
	h2 {
		.left-icon {
			top: rem(72);
		}
		.right-icon	{
			top: rem(69);
		}
	}
	ul {
		li {
			padding: 0 15px;
			overflow: hidden;

			a {
				display: block;
				text-align: right;
				&:hover {
					text-decoration: underline;
					color: white;
				}
			}
			a.actions-img {
				border: rem(5) solid white;
				border-image: url(../img/border-img-2.png) 5 round;
				overflow: hidden;
				img {
					vertical-align: middle;
					width: 100%;
				}
			}
			.see-more-details {
				background-color: transparent;
			    display: block;
			    text-align: left;
			    border: none;
			    width: 100%;
				&:hover {
					text-decoration: underline;
					color: white;
				}
			}
		}	
	}
}
.popover {
	max-width: 500px; 
	width: 100%;
	.popover-content {
		background-color: #000;
	}
}

//////////// Contact Block \\\\\\\\\\\\\\\\\

.contact-box {
	h2 {
		.left-icon {
			top: rem(40);
		}
		.right-icon	{
			top: rem(49);
		}
	}

	.map {		
	  	height: 400px;
	  	padding: 0;
		#map { height: 100%;
		border: rem(5) solid white;
		border-image: url(../img/border-img-2.png) 5 round; }
	}
	.contact-text {
		color: $special-color;
		.contact-phone {
			color: #7cb02a;
		}
		.contact-mail {
			color: #78aaef;
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

